GITHUB_ACTOR=yutao8
GH_TOKEN=

OPENROUTER_KEY=
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions

DEEPSEEK_API_KEY=
DEEPSEEK_URL=https://api.deepseek.com/chat/completions

CURL_PROXY=
CURL_PROXY_TYPE=http
CURL_IPRESOLVE_V4=true
CURL_TIMEOUT=20
CURL_CONNECT_TIMEOUT=5
CURL_MULTI_TIMEOUT=30

DEBUG_MODE=false
PAGE_START=1
PAGE_END=20
PAGE_LIMIT=100
PAGE_CHUNK=10
RECENT_LIMIT=10
LANG_LIMIT=10
DESC_TIME=0
